body {
  background: var(--main-bg-color);
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media screen and (min-width: 800px) {
      align-items: center;
      display: flex;
      flex-direction: row;
  }
}

#memory-controls {
  background: var(--board-bg-color);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  width: calc(100vw - 25px);

  @media screen and (min-width: 800px) {
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      height: 90vh;
      width: 150px;
  }
}

.controls {
  margin: 5px;
}

#memory-board {
  background: var(--board-bg-color);
  border-radius: 25px;
  height: calc(100vh - 100px);
  margin: 0 15px;
  padding: 25px;
  width: calc(100vw - 25px);

  @media screen and (min-width: 800px) {
    border-radius: 50px;
    height: 90vh;
    margin: 50px 50px;
    width: 980px;
  }
}

.memory-game {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px;

  @media screen and (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    margin: auto;
    perspective: 1000px;
    width: 640px;
  }
}

.memory-card {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  height: calc(15% - 5px);
  margin: 3px auto;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  width: calc(30% - 5px);

@media screen and (min-width: 800px) {
    height: calc(30% - 10px);
    margin: 5px;
    width: calc(16% - 5px);
  }
}

.memory-card:active {
  transform: scale(0.96);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  backface-visibility: hidden;
  background: #1c7ccc;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  position: absolute;
  width: 100%;
}

.front-face {
  background: var(--bg-color);
  transform: rotateY(180deg);
}

.button{
  background: var(--main-bg-color);
  border:0.16em solid rgba(255,255,255,0);
  border-radius:.5rem;
  box-sizing: border-box;
  color:#FFFFFF;
  display:inline-block;
  font-family:'Roboto',sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  padding:0.3em 1.2em;
  text-align:center;
  text-decoration:none;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  transition: all 0.2s;

  @media all and (max-width:30em){
      display:block;
      margin:0.2em auto;
  }

  @media screen and (min-width: 800px) {
    font-size: 1rem;
  }

  &:hover{
    border-color: rgba(255,255,255,1);
  }
}

.won {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
