<app-player *ngIf="!player.set"></app-player>
<app-scoreboard *ngIf="gameSrv.gameWon" appGameWon></app-scoreboard>
<section class="memory-game" id="memory-board">
  <app-card *ngFor='let card of gameSrv.deck.cards' 
  [card]="card" 
  [imgUrl]="deck.imgUrl"
  [frontFace]="deck.frontFace" 
  class="memory-card" (click)="flipCard($event)"
  [attr.identifier] = "card"></app-card>

  <app-card *ngFor='let card of gameSrv.deck.cards'
  [card]="card" 
  [imgUrl]="deck.imgUrl"
  [frontFace]="deck.frontFace"
  class="memory-card" 
  (click)="flipCard($event)" 
  [attr.identifier] = "card"></app-card>
</section>