#memory-board {
  background: var(--board-bg-color);
  border-radius: 5px;
  height: calc(100vh - 64px);
  margin: 0 15px;
  width: calc(100vw - 25px);
  align-items: center;
}

@media screen and (min-width: 980px) {
  #memory-board {
    border-radius: 5px;
    height: 85vh;
    margin: 10px 20px;
    width: 800px;
    display: flex;
    justify-content: space-between;
  }
}

.memory-game {
  display: flex;
    justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px;
}

@media screen and (min-width: 980px) {
  .memory-game {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    margin: auto;
    perspective: 1000px;
    width: 640px;
  }
}

.memory-card {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  flex: 0 0 80px;
  height: calc(15% - 5px);
  margin: 3px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;

  @media screen and (min-width: 800px) {
      flex: 0 0 150px;
      height: calc(25% - 5px);
      margin: 2px;
      max-width: 130px;
  }

  @media screen and (orientation: landscape){
    height: calc(30% - 5px);
  }
}

.memory-card:active {
  transform: scale(0.96);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

