#memory-board {
  background: var(--board-bg-color);
  border-radius: 5px;
  height: calc(100vh - 120px);
  margin: 0 15px;
  align-items: center;

  @media screen and (min-width: 980px) {
    height: calc(100vh - 140px);
  }
}

.memory-game {
  display: flex;
    justify-content: center;
  flex-wrap: wrap;
  // margin: auto;
  perspective: 1000px;

  @media screen and (min-width: 980px) {
      // margin: auto;
      perspective: 1000px;
    }
}

.memory-card {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  flex: 0 0 80px;
  height: calc(15% - 5px);
  margin: 3px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;

  @media screen and (min-width: 600px){
    flex: 0 0 90px;
    max-height: 90px;
  }

  @media screen and (min-width: 750px) and (orientation: portrait) {
      flex: 0 0 150px;
      height: calc(25% - 5px);
      margin: 2px;
      max-width: 130px;
      max-height: 150px;
  }

  @media screen and (min-width: 1025px) and (min-height: 450px) and (orientation: landscape) {
    flex: 0 0 200px;
    height: calc(25% - 5px);
    margin: 2px;
    // max-width: 130px;
    max-height: 150px;
}

  @media screen and (orientation: landscape){
    height: calc(30% - 5px);
    max-height: 150px;
  }
}

.memory-card:active {
  transform: scale(0.96);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

