@mixin whiteBold {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
}

@mixin card {
        background: #424242;
        border-radius: 5px;
        display: flex;
        justify-content: center;
}