@import "~@angular/material/prebuilt-themes/purple-green.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-bg-color: #1b9aaa;
  --card-bg-color: #06d6a0;
  --board-bg-color: #ffc43d;
  --bg-color: #ef476f;
  --bg-color-2: #f8ffe5;
}

body {
  background: var(--main-bg-color);
  font-family: 'Roboto',sans-serif;
}

#header {
  background: var(--board-bg-color);
  box-shadow: #06d6a0 1px 1px;
  border-radius: 5px;
  display: flex;
    align-items: center;
    justify-content: space-between;
  margin: 5px 15px;
  padding: 5px 20px;
}

.disabled {
  display: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;

  & > div:nth-child(1) {
    background: rgba(0,0,0,0.5);
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    padding: 20px 0;

    @media screen and (min-width: 600px) {
      min-width: 600px;
  }
  }

  tr.mat-row {
    height: 30px;
  }

}

.mat-drawer {
  background-color: var(--main-bg-color);
}

.modal .score {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.mat-input-element {
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
