hr {
  display: none;

  @media screen and (min-width: 980px) {
    display: inline;
    height: 2px; 
    border:none; 
    color: #1e88e5; 
    background-color:#1e88e5;
    text-align:center; 
    margin: 0 auto 0 0;
  }
}
