.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-nav-list .mat-list-item {
  display: inline-block;
}

.hidden {
  display: none;
}

.menu {
  flex: 1 1 auto;
}

.header_logo {
  color: #f44336; 
  font-weight: 900; font-size: 1.8rem; 
  @media screen and (max-width: 960px){
    flex:1 1 auto;
  }
}

mat-nav-list.profile_menu.mat-nav-list {
  display: flex;
  align-items: flex-end;
}


