.score {
    font-size: 1.8rem;
    text-align: center;

    table {
        border-collapse: collapse;
        text-align: left;
        width: 100%;
    }

    thead {
        background: var(--main-bg-color);
        border-radius: 5px;
        font-size: 1.5rem;
    }
}

.scoreboard {
    font-size: 1.2rem;
    width: 80%;
    margin: 15px;
}
