* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-bg-color: #1b9aaa;
  --card-bg-color: #06d6a0;
  --board-bg-color: #ffc43d;
  --bg-color: #ef476f;
  --bg-color-2: #f8ffe5;
}

body {
  background: var(--main-bg-color);
  display: flex;
  font-family: 'Roboto',sans-serif;
  height: 100vh;
  overflow: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  #main {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

#header {
  background: var(--board-bg-color);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  width: calc(100vw - 25px);
}

#header #score {
  color: white;
  flex-grow: 1;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 10px auto;
}

#header #timer {
  font-size: 1.2rem;
}

#header #memory-controls {
  flex-grow: 1;
}

#header #memory-controls .controls {
  min-width: 130px;
  margin: 5px 0;
}

@media screen and (min-width: 800px) {
  #header {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 150px;
  }
}

#memory-board {
  background: var(--board-bg-color);
  border-radius: 25px;
  height: calc(100vh - 100px);
  margin: 0 15px;
  padding: 25px;
  width: calc(100vw - 25px);
}

@media screen and (min-width: 800px) {
  #memory-board {
    border-radius: 50px;
    height: 90vh;
    margin: 50px 50px;
    width: 980px;
  }
}

.memory-game {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px;
}

@media screen and (min-width: 800px) {
  .memory-game {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    margin: auto;
    perspective: 1000px;
    width: 640px;
  }
}

.memory-card {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  height: calc(15% - 5px);
  margin: 3px auto;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  width: calc(30% - 5px);
}

@media screen and (min-width: 800px) {
  .memory-card {
    height: calc(30% - 10px);
    margin: 5px;
    width: calc(16% - 5px);
  }
}

.memory-card:active {
  transform: scale(0.96);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  backface-visibility: hidden;
  background: #1c7ccc;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  position: absolute;
  width: 100%;
}

.front-face {
  background: var(--bg-color);
  transform: rotateY(180deg);
}

.button {
  background: var(--main-bg-color);
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 500;
  font-size: 1.2rem;
  padding: .3rem 1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  transition: all 0.2s;
}

@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 0.2em auto;
  }
}

@media screen and (min-width: 800px) {
  .button {
    font-size: 1rem;
  }
}

.button:hover {
  border-color: white;
}

.won {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.won div {
  display: flex;
  align-items: center;
  justify-content: center;
}
